.profile {
    display: flex;
    align-items: center;
    &__pic {
      height: 180px;
      width: 180px;
      overflow: hidden;
      margin-right: 40px;
    }
    &__img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    &__name {
      line-height: 1;
      // margin-bottom: 10px;
      margin-top: 0;
    }
    &__subtitle {
      font-size: 20px;
    }
  }