body {
  color: #60b1f4;
  background-color: #2d2e32;
  font-family: "Roboto Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

h1,
h2,
h3 {
  color: #cf947e;
}

.wrapper {
  background-color: #25262a;
  overflow: hidden;
  min-height: 100%;
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 94%;
}

.header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.main-content {
  margin-left: 60px;
}

.profile {
  display: flex;
}

.profile__pic {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-right: 40px;
}

.profile__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.profile__name {
  line-height: 1;
  margin-bottom: 10px;
}

.profile__subtitle {
  font-size: 16px;
}

.ed__title {
  margin: 0;
  margin-bottom: 25px;
  line-height: 1;
}

.ed__item {
  display: flex;
  margin-bottom: 60px;
}

.ed__item:first-child .decorate::after {
  content: none;
}

.ed__item:last-child .decorate {
  background-color: #cf947e;
}

.ed__item:last-child .decorate::before {
  content: none;
}

.school {
  width: 20%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.school__name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}

.school__date {
  font-size: 14px;
  opacity: 0.6;
}

.decorate {
  display: block;
  flex-shrink: 0;
  position: relative;
  margin: 7px 50px 0 40px;
  height: 10px;
  width: 10px;
  background-color: #60b1f4;
  border: 2px solid #60b1f4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.decorate::before {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 160px;
  background-color: #60b1f4;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.decorate::after {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  height: 160px;
  background-color: #60b1f4;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.course {
  display: flex;
  flex-direction: column;
}

.course__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.course__skills {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.course__link {
  margin-top: 30px;
  opacity: 0.6;
  font-size: 16px;
  position: relative;
  padding-left: 14px;
  display: block;
}

.course__link::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  content: "";
  height: 12px;
  width: 12px;
  background: center center/contain url(../img/link.png);
  overflow: hidden;
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
}

.course__link:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}
