@import "./normalize";
@import "./base";
@import "./profile";
@import "./contacts";
@import "./educatio";
@import "./skills";
@import "./works";

.header {
  margin-top: 60px;
  margin-bottom: 40px;
}
.main-content {
  margin-left: 60px;
}
