.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 94%;

}

.profile__pic {
    height: 120px;
    width: 120px;

}

.profile__img {

    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}